<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="pkmnFoundationsConnectionString"
         connectionString="Server=10.211.55.2;Database=gts;User ID=gts;Password=gts;Pooling=true;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="pkmnFoundationsBoxUpload4Dir" value="C:\Users\Greg\SkyDrive\Battle Videos G4"/>
  </appSettings>
</configuration>
