<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="pkmnFoundationsConnectionString" connectionString="Server=10.211.55.2;Database=gts;User ID=gts;Password=gts;Pooling=true;charset=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
