input[type=text], input[type=password], select, textarea
{
    border: 1px solid #999999;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1) inset;
    height: 14px;
    padding: 3px 2px;
    font-size: 10pt;
    font-family: Arial,Helvetica,sans-serif;
    border-radius: 2px;
}

input[type=text]:focus, input[type=password]:focus, select, textarea:focus,
input[type=text]:focus, input[type=password]:focus, select, textarea:focus
{

}

input[type=submit], button, .ui-button
{
    border-radius: 2px;
    background-color: #008fc4;
    background-image: -moz-linear-gradient(top, #008fc4 0%, #00749f 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008fc4), color-stop(100%,#00749f)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #008fc4 0%,#00749f 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #008fc4 0%,#00749f 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #008fc4 0%,#00749f 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #008fc4 0%,#00749f 100%); /* W3C */
    background-size: 100%;
    box-shadow: 0 2px 1px -1px #89b4d5 inset, 0 1px 2px 0 rgba(0,0,0,0.1);
    border: 1px solid;
    border-color: #bcd1e4 #00749f #004a68 #89b4d5;
    color: white;
    text-shadow: 0 1px 0 #004a68;
    font-family: Lato,Candara,'Meiryo UI',Arial,sans-serif;
    font-weight: bold;
}

a.ui-button
{
    color: white;
}

input[type=submit], button
{
    height: 28px;
    margin-bottom: 4px;
    cursor: pointer;
}

input[type=submit].large, button.large
{
    width: 236px;
}

.pfLabelTextBox
{
    position: relative;
    background-color: white;
    font-family: Arial,Helvetica,sans-serif;
    display: inline-block;
    margin: 0; padding: 0;
    margin-bottom: 4px;
    vertical-align: top;
    border-radius: 2px;
}

.pfLabelTextBox label
{
    display: block;
    height: 0;
    overflow: visible;
    position: relative;
    top: 3px; left: 3px;
    color: #cccccc;
}

.pfLabelTextBox input
{
    display: block;
    background-color: transparent;
    position: relative;
    margin-bottom: 0;
}

.pfLabelTextBox input:focus, .pfLabelTextBox input.hasContent
{
    background-color: white;
}

.pfColGroup
{
    position: relative;
    overflow: hidden;
}

.pfColumn
{
    float: left;
    position: relative;
    margin-right: 16px;
}

.pfFormSubmit
{
    position: absolute;
    bottom: 12px;
    right: 16px;
}

.pfFormGroup
{
    border-radius: 4px;
    overflow: hidden;
    border-spacing: 0;
}

.pfFormKey, .pfFormValue
{
    margin: 0;
    padding: 4px 8px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-image: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, transparent 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, transparent 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, transparent 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, transparent 0%,rgba(0,0,0,0.05) 100%); /* W3C */
}

.pfFormKey
{
    color: white;
    text-align: left;
    width: 64px;
    padding-right: 2px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.pfFormKey
{
    background-color: #82d2e0;
}

.pfFormValue
{
    background-color: #f2f2f2;
}

.ui-spinner
{
    display: inline-block;
    position: relative;
    padding-right: 18px;
}

.ui-spinner-input, input.ui-spinner-input
{
    border-radius: 2px 0 0 2px;
    border-right: none;
}

.ui-spinner-button
{
    position: absolute;
    display: block;
    width: 16px; height: calc(50% - 2px);
    right: 0;
    font-size: 8px;
    text-align: center;
    line-height: 9px;
    cursor: pointer;
    border-radius: 0;
}

.ui-spinner-up
{
    top: 0;
    border-top-right-radius: 2px;
}

.ui-spinner-down
{
    bottom: 0;
    border-bottom-right-radius: 2px;
}