@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Nunito:700);

body
{
    margin: 0; padding: 0;
    font-family: Lato,Candara,'Segoe UI','Hiragino Sans','Meiryo','Arial Unicode MS','Yu Gothic UI',Arial,sans-serif;
    font-size: 10pt;
    font-weight: 400;
    background-color: #666666;
}

h1, h2, h3, h4, strong
{
    font-weight: 700;
}

hr
{
    margin: 16px 0;
    border: 1px solid #cccccc;
    border-width: 1px 0 0;
}

a
{
    color: #00749f;
}

a:hover
{
    color: #004a68;
}

a:visited
{
    color: #7e3bd0;
}

a:visited:hover
{
    color: #512489;
}

li
{
    margin: 4px 0;
}

.setWidth
{
    width: 980px;
    position: relative;
    margin: 0 auto;
}

.clear
{
    clear: both;
    height: 0;
    overflow: hidden;
}

.github-contain
{
    position: absolute;
    overflow: hidden;
    top: 0; right: 0;
    width: 160px; height: 160px;
}

.github, a.github, a.github:hover
{
    width: 300px;
    height: 20px;
    color: white;
    background-color: black;
    position: absolute;
    top: 60px;
    right: -80px;
    text-align: center;
    display: block;
    margin: 0; padding: 0;
    text-decoration: none;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.rightFloat
{
    float: right;
    margin-left: 16px;
}

.code
{
    font-family: Consolas,'Andale Mono',monospace
}

.gtsBox
{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.05), 0 -4px 3px -3px rgba(0,0,0,0.1) inset;
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top, #fcfcfc 0%, #f8f8f8 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #fcfcfc 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #fcfcfc 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #fcfcfc 0%,#f8f8f8 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #fcfcfc 0%,#f8f8f8 100%); /* W3C */
    background-size: 100%;
    border-radius: 12px;
    border: 1px solid #cccccc;
    margin: 8px;
}

.pfBoxThin
{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.05);
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top, #fcfcfc 0%, #f8f8f8 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #fcfcfc 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #fcfcfc 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #fcfcfc 0%,#f8f8f8 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #fcfcfc 0%,#f8f8f8 100%); /* W3C */
    background-size: 100%;
    border-radius: 4px;
}

.pfToolTip
{
    border-bottom: 1px dotted #999;
    margin-bottom: -1px;
    cursor: help;
}

.gtsNav, .gtsNav ul, .gtsNav li
{
    margin: 0; padding: 0;
}

.gtsNav li
{
    float: left;
}

.gtsNav li a
{
    display: block;
}

.gtsInfo
{
    margin-left: 40px;
    position: relative;
    min-height: 32px;
}

.gtsInfo::before
{
    width: 24px;
    height: 0;
    padding: 12px 0;
    position: absolute;
    left: -40px;
    top: calc(50% - 16px);
    content: 'i';
    border: 4px solid #999999;
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 0;
    vertical-align: middle;
    border-radius: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: block;
}

.gtsProgress
{
    border: 1px solid #777777;
    height: 2px;
    border-radius: 2px;
}

.gtsProgress .progress
{
    background-color: #2dd350;
    height: 2px;
}

#gtsHeader
{
    padding-top: 16px;
    background-color: #ff8063;
    color: white;
    background-image: url('../images/heading-backdrop.png');
    background-size: 32px 8px;
    overflow: hidden;
    font-size: 12pt;
    position: relative;
}

#gtsHeader a, #gtsHeader a:visited
{
    color: white;
}

#gtsHeader #gtsLogo
{
    width: 276px;
    margin-right: 16px;
    float: left;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}

#gtsHeader #gtsLogo a
{
    text-decoration: none;
}

#gtsHeader #gtsLogo .gtsLogoImage, #gtsHeader #gtsLogo .gtsLogoWord
{
    display: block;
}

#gtsHeader #gtsLogo .gtsLogoImage
{
    float: left;
    margin-bottom: 4px;
}

#gtsHeader #gtsLogo .gtsLogoWords
{
    font-family: Nunito,Calibri,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    color: white;
}

#gtsHeader #gtsLogo .gtsLogoWord
{
    margin-left: 112px;
}

#gtsHeader #gtsHeadMain
{
    width: 400px;
    float: left;
    margin-right: 16px;
    margin-top: 9px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#gtsHeader #gtsLogin
{
    width: 240px;
    float: left;
    color: black;
    background-color: #eeeeee;
    background-color: rgba(255,255,255,0.9);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
}

#gtsHeader .gtsHeadContent
{
    list-style-type: circle;
    margin-top: 0;
    margin-left: 16px;
    padding-left: 0;
}

#gtsHeader .gtsNav
{
    height: 32px;
    margin: 16px 0 0 0; padding: 0;
    font-size: 12pt;
    width: 1000px;
}

#gtsHeader .gtsNav li
{
    display: block;
    margin: 0; padding: 0;
}

#gtsHeader .gtsNav li a
{
    width: 148px;
    height: 18px;
    margin-right: 8px;
    padding-top: 14px;
    padding-left: 8px;
    border: 1px solid #cccccc;
    border-style: solid;
    border-color: #cccccc #bbbbbb #aaaaaa #bbbbbb;
    border-bottom: none;
    box-shadow: 0 -2px 12px -4px rgba(0,0,0,0.5);
    border-radius: 6px 6px 0 0;
    background-color: #f8f8f8;
    color: black;
    text-decoration: none;
    font-weight: bold;
    line-height: 0;
    vertical-align: middle;
    position: relative;
    z-index: 0;
    top: 2px;
    transition: top 0.1s ease-out, background-color 0.1s ease-out;
}

#gtsHeader .gtsNav li a:hover
{
    top: 0;
    background-color: #fcfcfc;
}

.home #gtsHeader .gtsNav li.home a,
.gts #gtsHeader .gtsNav li.gts a,
.bv #gtsHeader .gtsNav li.bv a,
.dw #gtsHeader .gtsNav li.dw a,
.dex #gtsHeader .gtsNav li.dex a,
.stat #gtsHeader .gtsNav li.stat a {z-index: 2; top: 0; background-color: #fcfcfc;}

#gtsHeader .gtsNav li.home a, .home #gtsSubMenu.bv, .home .gtsNav li a {color: #ff8063;}
#gtsHeader .gtsNav li.gts a, .gts #gtsSubMenu, .gts .gtsNav li a {color: #43c4ff;}
#gtsHeader .gtsNav li.bv a, .bv #gtsSubMenu, .bv .gtsNav li a {color: #9761e9;}
#gtsHeader .gtsNav li.dw a, .dw #gtsSubMenu, .dw .gtsNav li a {color: #fa79d4;}
#gtsHeader .gtsNav li.dex a, .dex #gtsSubMenu, .dex .gtsNav li a {color: #2dd350;}
#gtsHeader .gtsNav li.stat a, .stat #gtsSubMenu, .stat .gtsNav li a {color: #ffc321;}
#gtsHeader .gtsNav li.test a, .test #gtsSubMenu, .test .gtsNav li a {color: #82d2e0;}
#gtsHeader .gtsNav li.admin a, .admin #gtsSubMenu, .admin .gtsNav li a {color: #555555;}

.home #gtsHeader, .home #gtsSubNav .gtsNav li a:hover .inner {background-color: #ff8063;}
.gts #gtsHeader, .gts #gtsSubNav .gtsNav li a:hover .inner {background-color: #43c4ff;}
.bv #gtsHeader, .bv #gtsSubNav .gtsNav li a:hover .inner {background-color: #9761e9;}
.dw #gtsHeader, .dw #gtsSubNav .gtsNav li a:hover .inner {background-color: #fa79d4;}
.dex #gtsHeader, .dex #gtsSubNav .gtsNav li a:hover .inner {background-color: #2dd350;}
.stat #gtsHeader, .stat #gtsSubNav .gtsNav li a:hover .inner {background-color: #ffc321;}
.test #gtsHeader, .test #gtsSubNav .gtsNav li a:hover .inner {background-color: #82d2e0;}
.admin #gtsHeader, .admin #gtsSubNav .gtsNav li a:hover .inner {background-color: #555555;}

#gtsMain
{
    background-color: white;
    margin: 0;
    padding: 16px 0;
    min-height: 300px;
    color: #111111;
}

#gtsMain .gtsHeaderArea
{
    clear: both;
}

#gtsMain .gtsColumn
{
    width: 236px;
}

#gtsMain .gtsLeftColumn
{
    float: left;
    margin-right: 16px;
}

#gtsMain .gtsRightColumn
{
    float: right;
}

#gtsMain .gtsMainColumn
{
    float: left;
}

#gtsMain .gtsMainColumnThree
{
    width: 476px;
}

#gtsMain .gtsMainColumnTwo
{
    width: 728px;
}

#gtsMain .gtsColumn .gtsSection
{
    margin-bottom: 16px;
}

#gtsSubNav
{
    border: 1px solid #cccccc;
    border-width: 1px 0;
    box-shadow: 0 -12px 12px -12px rgba(0,0,0,0.5), 0 3px 8px 0 rgba(0,0,0,0.05), 0 -4px 3px -3px rgba(0,0,0,0.1) inset;
    background-color: #f8f8f8;
    color: #ff8063;
    height: 32px;
    padding: 0;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    background-image: -moz-linear-gradient(top, #fcfcfc 0%, #f8f8f8 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #fcfcfc 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #fcfcfc 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #fcfcfc 0%,#f8f8f8 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #fcfcfc 0%,#f8f8f8 100%); /* W3C */
    background-size: 100%;
}

#gtsSubNav .gtsNav
{
    margin: 0; padding: 6px 0;
    margin-left: 0;
    font-size: 12pt;
}

#gtsSubNav .gtsNav li
{
    height: 20px;
    display: block;
    margin: 0; padding: 0;
    border-left: 1px solid #cccccc;
}

#gtsSubNav .gtsNav li a
{
    height: 24px;
    padding: 0 12px;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    line-height: 0;
    vertical-align: middle;
    position: relative;
    top: -2px;
    z-index: 0;
}

#gtsSubNav .gtsNav li a .inner
{
    display: block;
    line-height: 0;
    height: 12px;
    padding: 12px 6px 0 6px;
    border-radius: 12px;
}

#gtsSubNav .gtsNav li a:hover
{
    color: white;
    text-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

#gtsSubNav .gtsNav li a:hover .inner
{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2) inset;
}

#gtsSubNav .gtsNav li:first-child
{
    border-left: none;
}

#gtsSubNav .gtsNav li:first-child a
{
    padding-left: 3px;
}

#gtsFooter
{
    color: white;
    font-size: 9pt;
    padding: 16px 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 12px 12px -12px rgba(0,0,0,0.5) inset;
    text-align: center;
}

#gtsFooter a
{
    color: white;
    text-decoration: none;
}

#gtsFooter a:hover
{
    text-decoration: underline;
}

#gtsFooter .gtsFooterNav
{
    list-style-type: none;
    margin-left: 0; padding-left: 0;
}

#gtsFooter .gtsFooterNav li
{
    display: inline;
}

#gtsFooter .gtsFooterNav li::after
{
    content: ' • ';
}

#gtsFooter .gtsFooterNav li:last-child::after
{
    content: none;
}

#gtsFooter *:first-child *
{
    margin-top: 0;
}

.pfChoiceGroup
{
    position: relative;
    overflow: hidden;
    margin: 0 -8px;
}

.pfChoice
{
    float: left;
    width: 180px;
    height: 80px;
    border: 2px solid #eeeeee;
    background-color: white;
    cursor: pointer;
    margin: 4px 8px 4px 0;
    position: relative;
    display: table;
    border-spacing: 8px;
}

.pfChoiceGroupVersions .pfChoice
{
    width: 128px;
    height: 48px;
}

.pfChoice .pfChoiceIcon
{
    display: table-cell;
    vertical-align: middle;
    width: 0;
}

.pfChoice .pfChoiceLabel
{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.pfChoice:hover
{
    background-color: #f6f6f6;
    border-color: #dddddd;
}

.pfChoiceActive
{
    border-color: #ff8063;
}

.home .pfChoiceActive {border-color: #ff8063;}
.gts .pfChoiceActive {border-color: #43c4ff;}
.bv .pfChoiceActive {border-color: #9761e9;}
.dw .pfChoiceActive {border-color: #fa79d4;}
.dex .pfChoiceActive {border-color: #2dd350;}
.stat .pfChoiceActive {border-color: #ffc321;}
.test .pfChoiceActive {border-color: #82d2e0;}
.admin .pfChoiceActive {border-color: #555555;}

.pfSplitList
{
    margin-top: 0; margin-bottom: 0;
}

.pfRight
{
    float: right;
    margin-left: 16px;
}

@media (min--moz-device-pixel-ratio: 1.01), (-o-min-device-pixel-ratio: 97/96), 
       (-webkit-min-device-pixel-ratio: 1.01), (min-device-pixel-ratio: 1.01), 
       (min-resolution: 97dpi)
{
    #gtsHeader
    {
        background-image: url('../images/heading-backdrop@2x.png');
    }
}

@media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), 
       (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), 
       (min-resolution: 192dpi)
{
    .sprite
    {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -webkit-crisp-edges;
        image-rendering: crisp-edges;
        -ms-interpolation-mode: bicubic;
    }
}

@media (print), (min--moz-device-pixel-ratio: 2.01), (-o-min-device-pixel-ratio: 193/96), 
       (-webkit-min-device-pixel-ratio: 2.01), (min-device-pixel-ratio: 2.01), 
       (min-resolution: 193dpi)
{
    #gtsHeader
    {
        background-image: url('../images/heading-backdrop@3x.png');
    }

    .sprite
    {
        image-rendering: optimizeQuality;
    }
}

@media (min--moz-device-pixel-ratio: 3), (-o-min-device-pixel-ratio: 3/1), 
       (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3), 
       (min-resolution: 288dpi)
{
    .sprite
    {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -webkit-crisp-edges;
        image-rendering: crisp-edges;
        -ms-interpolation-mode: bicubic;
    }
}


