.gtsPokemonSummary .row
{
    position: relative;
}

.gtsPokemonSummary .nickname
{
    font-size: 12pt;
    font-weight: bold;
    color: black;
    margin-bottom: 4px;
}

.gtsPokemonSummary .portrait, .gtsPokemonSummary li.portrait
{
    width: 96px;
    height: 96px;
    padding: 4px;
    border-radius: 20px;
    background-color: white;
}

.gtsPokemonSummary .pokeball
{
    
}

.gtsPokemonSummary .marks, .gtsPokemonSummary li.marks
{
    width: 104px;
    color: #e0e0e0;
    color: rgba(128,128,128,0.2);
    font-family: 'Meiryo UI',sans-serif;
}

.gtsOffer .colPortrait, .gtsOffer .pfFormValue.colPortrait
{
    width: 104px;
    padding-top: 8px;
}

.colPortrait ul
{
    width: 104px;
    white-space: nowrap;
}

.marks .m
{
    color: #808080;
}

.specialFlags, li.specialFlags
{
    width: 104px;
}

.shiny
{
    font-weight: bold;
    vertical-align: middle;
    color: #ee0000;
}

.pkrs, .pkrs_cure
{
    font-weight: bold;
    vertical-align: middle;
    color: white;
    background-color: #9761e9;
    font-size: 8px;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
}

.gtsPokemonSummary ul, .gtsPokemonSummary li
{
    list-style-type: none;
    margin: 0; padding: 0;
}

.gtsPokemonSummary li
{
    margin-bottom: 4px;
}

.gtsPokemonSummary img.item, .gtsPokemonSummary img.speciesSmall
{
    vertical-align: middle;
    position: relative;
}

.gtsPokemonSummary img.item
{
    margin: -5px 0 -3px -4px;
}

.gtsPokemonSummary img.speciesSmall
{
    margin: -10px -3px -4px -10px;
}

.pfFormGroup.pfGroupMoves
{
    margin-top: 16px;
    overflow: hidden;
    border-radius: 4px;
}

.pfFormGroup .type
{
    border-bottom: none;
    background-color: #f2f2f2;
    width: 64px;
}

.gtsPokemonSummary .pfFormKey
{
    width: 64px;
}

.gtsPokemonSummary .pfFormValue
{
    width: 180px;
}

.gtsPokemonSummary .pfColumn.colBasic1
{
    width: 104px;
}

.gtsPokemonSummary .nextIn
{
    display: inline;
    position: absolute;
    right: 8px;
    font-size: 8pt;
    margin-top: 3px;
}

.pfFormGroup .type
{
}

.pfFormGroup .move .type
{
    height: auto;
    display: table-cell;
    border-radius: 0;
    text-align: left;
    padding: 4px 8px;
}

.pfFormGroup .move .pp
{
    float: right;
}

.gtsProgress.hpBar .progress
{
    background-color: #2dd350;
}

.gtsProgress.health50 .progress
{
    background-color: #ffc321;
}

.gtsProgress.health25 .progress
{
    background-color: #ff8063;
}

.gtsProgress.expBar .progress
{
    background-color: #43c4ff;
}

.gtsOffer
{
    margin: 8px 0;
    width: 672px;
}

.gtsOffer .pfColumn
{
}
