body
{
    margin: 0; padding: 0;
    font-family: Arial,sans-serif;
}

.setWidth
{
    width: 980px;
    position: relative;
    margin: 0 auto;
}

.clear
{
    clear: both;
    height: 0;
    overflow: hidden;
}

.gtsNav, .gtsNav ul, .gtsNav li
{
    margin: 0; padding: 0;
}

.gtsNav li a
{
    display: block;
    float: left;
}

#gtsHeader
{
    padding-top: 16px;
    background-color: #82D2e0;
    color: white;
    background-image: url('../images/heading-backdrop.png');
    background-size: 32px 8px;
    overflow: hidden;
}

#gtsHeader #gtsLogo
{
    width: 368px;
    margin-right: 16px;
    float: left;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#gtsHeader #gtsHeadMain
{
    width: 340px;
    float: left;
    margin-right: 16px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#gtsHeader #gtsLogin
{
    width: 208px;
    float: left;
    color: black;
    background-color: #eeeeee;
    background-color: rgba(255,255,255,0.9);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
}

#gtsHeader .gtsNav
{
    height: 32px;
    margin: 16px 0 0 0; padding: 0;
}

#gtsHeader .gtsNav li
{
    display: block;
    margin: 0; padding: 0;
}

#gtsHeader .gtsNav li a
{
    width: 158px;
    height: 16px;
    margin-right: 12px;
    padding-top: 16px;
    padding-left: 8px;
    border: 1px solid #cccccc;
    border-width: 1px 1px 0 1px;
    box-shadow: 0 -2px 12px -4px rgba(0,0,0,0.5);
    border-radius: 6px 6px 0 0;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 14pt;
    font-weight: bold;
    line-height: 0;
    vertical-align: middle;
    position: relative;
    z-index: 0;
}

.home #gtsHeader .gtsNav li.home a {z-index: 2;}
.gts #gtsHeader .gtsNav li.gts a {z-index: 2;}
.bv #gtsHeader .gtsNav li.bv a {z-index: 2;}
.dw #gtsHeader .gtsNav li.dw a {z-index: 2;}
.dex #gtsHeader .gtsNav li.dw a {z-index: 2;}

#gtsHeader .gtsNav li.home a, .home #gtsSubMenu {color: #ff8063;}
#gtsHeader .gtsNav li.gts a, .home #gtsSubMenu {color: #43c4ff;}
#gtsHeader .gtsNav li.bv a, .bv #gtsSubMenu {color: #9761e9;}
#gtsHeader .gtsNav li.dw a, .dw #gtsSubMenu {color: #fa79d4;}
#gtsHeader .gtsNav li.dex a, .dex #gtsSubMenu {color: #2dd350;}

.home #gtsSubMenu {border-color: #ff8063;}
.gts #gtsSubMenu {border-color: #43c4ff;}
.bv #gtsSubMenu {border-color: #9761e9;}
.dw #gtsSubMenu {border-color: #fa79d4;}
.dex #gtsSubMenu {border-color: #2dd350;}

#gtsHeader #gtsHeaderBorder
{
    border-top: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0 -12px 12px -12px rgba(0,0,0,0.5);
    position: relative;
    z-index: 1;
    height: 32px;
    margin-bottom: -32px;
}

#gtsMain
{
    background-color: white;
}

#gtsSubMenu
{
    background-color: white;
    color: #ff8063;
    height: 16px;
    padding: 8px 0;
}

#gtsFooter
{
    background-color: #666666;
    color: white;
    font-size: 9pt;
    padding: 16px 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 12px 12px -12px rgba(0,0,0,0.5) inset;
}

#gtsFooter #gtsFooterLeft
{
    float: left;
    width: 462px;
    margin-right: 16px;
}

#gtsFooter #gtsFooterRight
{
    float: left;
    width: 462px;
}

#gtsFooter #gtsFooterBottom
{
    margin-top: 16px;
    text-align: center;
}


@media (min--moz-device-pixel-ratio: 1.01), (-o-min-device-pixel-ratio: 97/96), 
       (-webkit-min-device-pixel-ratio: 1.01), (min-device-pixel-ratio: 1.01), 
       (min-resolution: 97dpi)
{
    #gtsHeader
    {
        background-image: url('../images/heading-backdrop@2x.png');
    }
}

@media (print), (min--moz-device-pixel-ratio: 2.01), (-o-min-device-pixel-ratio: 193/96), 
       (-webkit-min-device-pixel-ratio: 2.01), (min-device-pixel-ratio: 2.01), 
       (min-resolution: 193dpi)
{
    #gtsHeader
    {
        background-image: url('../images/heading-backdrop@3x.png');
    }
}


