body
{
    font-family: Arial,sans-serif;
    margin: 0; padding: 0;
    min-width: 720px;
}

#gtsHeader
{
    background-color: #ff8063;
    color: white;
    font-family: Arial,sans-serif;
    padding: 20px 0 4px;
    height: 108px;
}

#gtsHeader h1
{
    margin: 0;
}

#gtsHeader h1 a
{
    text-decoration: none;
}

#gtsHeader .dns
{
    margin-bottom: 8px;
}

#gtsHeader .dnsHeading
{
    font-size: 9px;
}

#gtsHeader .dnsIp
{
    font-family: Consolas,'Andale Mono',monospace;
    font-size: 20px;
    font-weight: bold;
}

#gtsHeader .right
{
    position: absolute;
    top: 0;
    right: 0;
}

#gtsHeader .stats
{
    background-color: #ffac9f;
    border-radius: 9px;
    padding: 4px;
    width: 200px;
    font-size: 12px;
}

#gtsHeader a
{
    color: white;
}

#gtsMain
{
    padding: 4px 0;
}

.setWidth
{
    width: 720px;
    margin: 0 auto;
    position: relative;
}

.github-contain
{
    position: absolute;
    overflow: hidden;
    top: 0; right: 0;
    width: 160px; height: 160px;
}

.github
{
    width: 300px;
    height: 20px;
    color: white;
    background-color: black;
    position: absolute;
    top: 60px;
    right: -80px;
    text-align: center;
    display: block;
    margin: 0; padding: 0;
    text-decoration: none;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.code
{
    font-family: Consolas,'Andale Mono',monospace
}

table
{
    width: 100%;
}

thead
{
    background-color: #dddddd;
}

table tr:nth-child(2n)
{
    background-color: #eeeeee;
}
